:root {
  --background-color: #ffffff;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #28a745;
  --text-color: #212529;
  --border-color: #dee2e6;
  --hover-color: #f8f9fa;
  --shadow-color: #ced4da;
  transition:
    background-color 0.3s,
    color 0.3s;
}

[data-theme='dark'] {
  --background-color: #121212;
  --primary-color: #0d6efd;
  --secondary-color: #adb5bd;
  --accent-color: #20c997;
  --text-color: #f8f9fa;
  --border-color: #343a40;
  --hover-color: #1f1f1f;
  --shadow-color: #495057;
}
